asn1crypto==0.24.0
beautifulsoup4==4.6.0
better-exceptions==0.2.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.2.1
Django==1.11.11
django-constance==2.1.0
django-extensions==2.0.6
django-grappelli==2.11.1
django-modelcluster==4.1
django-rq==1.0.1
django-taggit==0.22.2
django-treebeard==4.2.1
djangorestframework==3.7.7
draftjs-exporter==2.0.0
enum34==1.1.6
grpc==0.3.post19
html5lib==0.999999999
idna==2.6
ipaddress==1.0.19
msgpack-python==0.5.6
olefile==0.45.1
ordereddict==1.1
pathlib==1.0.1
Pillow==9.3.0
pipenv==11.9.0
protobuf==3.5.2.post1
pycparser==2.18
pyOpenSSL==17.5.0
pytz==2018.3
redis==2.10.6
requests==2.18.4
rq==0.10.0
six==1.11.0
typing==3.6.4
Unidecode==0.4.21
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
wagtail==2.0
webencodings==0.5.1
Willow==1.1
